*{
    padding: 0;
    margin: 0;
}

body{
    background: url(../imgs/bg1.jpg) no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.img-coracao{
    width: 40px;
    margin-left: 20px;
}

#hud{
    display: flex;
    gap: 15px;
    margin-top: 10px;
}

